<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="a24"
         xmlns="http://hedo.xyz/WebApp"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://hedo.xyz/WebApp web.xsd">
    <display-name>Servlet 2.4 application</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>ServletMappedDoFilter_Filter</filter-name>
        <filter-class>tests.Filter.DoFilter_Filter</filter-class>
        <init-param>
            <param-name>attribute</param-name>
            <param-value>tests.Filter.DoFilter_Filter.SERVLET_MAPPED</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ServletMappedDoFilter_Filter</filter-name>
        <url-pattern>/DoFilterTest</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ServletMappedDoFilter_Filter</filter-name>
        <url-pattern>/IncludedServlet</url-pattern>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ServletMappedDoFilter_Filter</filter-name>
        <url-pattern>/ForwardedServlet</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>tests.ContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>tests.ServletRequestListener.RequestListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletErrorPage</servlet-name>
        <servlet-class>tests.Error.ServletErrorPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncludedServlet</servlet-name>
        <servlet-class>tests.Filter.IncludedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForwardedServlet</servlet-name>
        <servlet-class>tests.Filter.ForwardedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/hello.welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletErrorPage</servlet-name>
        <url-pattern>/ServletErrorPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncludedServlet</servlet-name>
        <url-pattern>/IncludedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForwardedServlet</servlet-name>
        <url-pattern>/ForwardedServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.ArrayIndexOutOfBoundsException</exception-type>
        <location>/ServletErrorPage</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.html</location>
    </error-page>
</web-app>